@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


#chatbot-toggler{
   position: fixed;
   bottom: 30px;
   right: 35px;
   border: none;
   height: 60px;
   width: 60px;
   display: flex;
   cursor: pointer;
   border-radius: 50%;
   background: var(--color-green);
   align-items: center;
   justify-content: center;
   transition: all 0.2s ease;
}

#chatbot-toggler span {
  position: absolute;
  color: #fff;
}

.container.show-chatbot #chatbot-toggler {
  transform: rotate(90deg);
}

#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child{
opacity: 0;
}

.container.show-chatbot #chatbot-toggler span:last-child{
opacity: 1;
}

.chatbot-popup{
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 95px;
  right: 35px;
  background: #fff;
  overflow: hidden;
  width: 420px;
  transform: scale(0.2);
  transform-origin: bottom right;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

.container.show-chatbot .chatbot-popup{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot-popup .chat-header {
  background: var(--color-green);
  padding: 14px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header .header-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill:#29a54e;
  background: #fff;
  border-radius: 50%;
  flex-shrink: 0;
}

.header-info .logo-text{
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat-header button{
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  cursor: pointer;
  padding-top: 2px;
  margin-right: -10px;
  border-radius: 50%;
  transition: 0.2s ease;
}

.chat-header button:hover{
  background: #29a54e;
}

.chat-body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 22px;
  height: 350px;
  overflow-y: auto;
  margin-bottom: 82px;
  scrollbar-width: thin;
  scrollbar-color: #DDD3F9 transparent;
}

.chat-body .message {
  display: flex;
  gap: 11px;
  align-items: center;

}

.chat-body .message.error .message-text {
  color: #ff0000;
}

.chat-body .message svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #fff;
  margin-bottom: 2px;
  align-self: flex-end;
  background: #29a54ef1;
  border-radius: 50%;
  flex-shrink: 0;
}

.chat-body .message .message-text{
  
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text {
background: #F6F2FF;
border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message {
  flex-direction: column;
  align-items: flex-end;

}

.chat-body .user-message .message-text {
  color: #fff;
  background: var(--color-green);
  border-radius: 13px 13px 3px 13px;
  }

  .chat-footer{
   position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px 20px;
  }

  .chat-footer .chat-form{ 
    display: flex;
    align-items: center;
    background: #fff;
    outline: 1px solid #CCCCE5;
    border-radius: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
  }

  .chat-footer .chat-form:focus-within{
    outline: 2px solid var(--color-green);
  }

  .chat-form .message-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 47px;
    padding: 0 17px;
    font-size: 0.95rem;
  }

  .chat-form button {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 6px;
    font-size: 1.15rem;
    color: #fff;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--color-green);
    transition: 0.2s ease;
    display: none;
  }

  .chat-form button:hover{
    background: #29a54e;
  }

  .chat-form .message-input:valid ~ button{
    display: block;
  }

  /* responsive media for mobile */

  @media(max-width:520px) {
    #chatbot-toggler {
      right: 20px;
      bottom: 20px;
    }

    .chatbot-popup{
      right: 0;
      bottom: 0;
      height: calc(100% - 83px);
      border-radius: 0;
      width: 100%;
    }

    .chatbot-popup .chat-header {
      padding: 12px 15px;
    }

    .chat-body{
      height: calc(90% - 55px);
      padding: 25px 15px;

    }

    .chat-footer{
      padding: 10px 15px 15px;
    }
  }