.carousel{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
 

}

.carousel-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-card{
display: flex;
flex: 1;
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
border-radius: 20px;
opacity: 0;
pointer-events: none;
transform: scale(.8);
transition: 0.5s ease-in-out;
box-shadow: 0px 0px 7px #666;


}

.carousel-card-active{
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;



}

.card-image{
    width: 100%;
    object-fit: cover;

}



.arrow{
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover{
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right{
    right: 1rem;
}

.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 44%;
}

.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive{
    background-color: grey;
}

@media(max-width:800px){
    .carousel{
        width: 90%;
        height: 90%;
        
    }
}

