.form-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 4%;
margin-top: 2%;
background: -moz-linear-gradient(180deg, #FFFFFF 19%, #CBCBCB 87%, #F2F2F2 100%, #00BCD4 100%); 

background: -webkit-linear-gradient(180deg, #FFFFFF 19%, #CBCBCB 87%, #F2F2F2 100%, #00BCD4 100%);

background: -o-linear-gradient(180deg, #FFFFFF 19%, #CBCBCB 87%, #F2F2F2 100%, #00BCD4 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BCD4', endColorstr='#FFFFFF', GradientType=1 );

background: -ms-linear-gradient(180deg, #FFFFFF 19%, #CBCBCB 87%, #F2F2F2 100%, #00BCD4 100%);

background: linear-gradient(180deg, #FFFFFF 19%, #CBCBCB 87%, #F2F2F2 100%, #00BCD4 100%);

}

.form-contact-img{
    position: relative;
    left: 30%;
    width: 30px;
}

.form-contact h2{
    color: var(--color-green);
   margin-bottom: 1%;

   font-size: 3rem;
font-weight: 400;
text-align: center;
}

.form-contact p{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3%;
}

.name, .contact{
    width: 50%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2%;
}

.input-primary {
    font-size: 1.7rem;
    resize: none;
    outline: 0;
    border: 0;
    border-radius: 4px;
    text-shadow: var(--shadow-text);
    filter: var(--shadow-img);
    text-align: center;
    padding: 2%;
    color: black;
}

.input-primary::placeholder{
    font-size: 1.5rem;
    text-align: center;
    
}

p.error-message{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #af0e11;
    height: 14px;
    position: absolute;
    top: 100%;
    right: 70%;
}

p.error-message-lastname{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #af0e11;
    height: 14px;
    position: absolute;
    top: 100%;
    right: 10%;
}

p.error-message-info{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #af0e11;
    height: 14px;
    position: absolute;
    top: 40%;
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.info textarea{
    resize: none;
    outline: none;
    border: none;
    
    border-radius: 4px;
}

.info label{ 
    font-size: 1.2rem;
    text-align: center;
}

.grp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
   

}

.grp label{
    text-align: center;
    font-size: 1rem;
}

.grp .grp-span{
    color: var(--color-green);
}

.button-primary {
   
    border-radius: 12px;
    padding: 19px 74px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 19px;
    color: var(--color-green);
    border: none;
    cursor: pointer;
    white-space: nowrap;

    filter: var(--shadow-img);
}

.button-primary:disabled {
    opacity: 0.2;
  }

  @media (max-width: 800px) {
    .form-contact{
       
     padding: 20px 10%;
    margin-top: 3%;    
    }
    
    .form-contact-img{
   
        left: 55%;
    }
    
    .form-contact h2{
       margin-bottom: 2%;
       font-size: 2.7rem;

    }
    
    .form-contact p{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 5%;
    }
    
    .name, .contact{
        width: 30%;
        height: 50%;
        gap: 20px;
        margin-bottom: 6%;
    }
    
    .input-primary {
        font-size: 1.5rem;
        padding: 4%;
     
    }
    
    .input-primary::placeholder{
        font-size: 1.2rem;  
    }
    
    p.error-message{
      width: 100%;
        font-size: 10px;
        height: 10px;
        position: absolute;
        top: 100%;
        right: 120%;
    }
    
    p.error-message-lastname{
        width: 100%;
        font-size: 10px;
        height: 10px;
        position: absolute;
        top: 100%;
       left: 50%;
    }
    
    p.error-message-info{  
        font-size: 10px;
        position: absolute;
        top: 40%;
        
    }
    
    .info{
        gap: 20px;
        position: relative;
    }
    
   
    
    .info label{ 
        font-size: 1rem;
       
    }
    
    .grp{
       font-size: 0.8rem;
        gap: 7px;
       
    
    }
    
  }

  @media (max-width: 500px) {
    .form-contact{
       
     padding: 20px 10%;
    margin-top: 3%;    
    }
    
    .form-contact-img{
        width: 20px;
        max-width: 6%;
        left: 55%;
    }
    
    .form-contact h2{
       margin-bottom: 2%;
       font-size: 2rem;

    }
    
    .form-contact p{
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 5%;
    }
    
    .name, .contact{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 50%;
        gap: 35px;
        margin-bottom: 10%;
    }
    
    .input-primary {
        font-size: 1.4rem;
        padding: 10% 15%;
     
    }
    
    .input-primary::placeholder{
        font-size: 1.1rem;  
    }


    p.error-message{
        width: 120px;
        font-size: 10px;
        height: 10px;
        position: absolute;
        top: 35%;
        right: -8%;
    }
    
    p.error-message-lastname{
        width: 120px;
        font-size: 10px;
        height: 10px;
        position: absolute;
        top: 100%;
       left: -10%;
    }
    
    p.error-message-info{  
        font-size: 9px;
        position: absolute;
        top: 40%;
        
    }
    
    .info{
        gap: 20px;
        position: relative;
    }
    
   
    
    .info label{ 
        font-size: 0.8rem;
       
    }

    .info textarea {
        width: 110%;
        height: 150px;
    }
    
    .grp{
     
        gap: 5px;
    }

    .grp label {
        font-size: 0.6rem;
    }
    
    .button-primary {
       
       
        padding: 17px 64px;
      
        font-size: 1.5rem;
       
    }
   
    
  }